{% extends 'base.html' %}

{% block container %}
		  	  
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Services				
							</h1>	
							<p class="text-white link-nav"><a href="index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="services"> Services</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start services Area -->
			<section class="services-area section-gap">
				<div class="container">
		            <div class="row d-flex justify-content-center">
		                <div class="menu-content  col-lg-7">
		                    <div class="title text-center">
		                        <h1 class="mb-10">My Offered Services</h1>
		                        <p>At about this time of year, some months after New Year’s resolutions have been made and kept, or made and neglected.</p>
		                    </div>
		                </div>
		            </div>						
					<div class="row">
						{% for serv in services %}
						<div class="col-lg-4 col-md-6">
							<div class="single-services">
								<p><img src="/media/{{ serv.logo }}" alt=""></p>
								<a href="{{ serv.id }}"><h4>{{ serv.title }}</h4></a>
								<p>
									{{ serv.description}}
								</p>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>	
			</section>
			<!-- End services Area -->				

			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">				
					<div class="row">
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2536</h1>
							<p>Projects Completed</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">6784</h1>
							<p>Happy Clients</p>
						</div>
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">2239</h1>
							<p>Cups of Coffee</p>
						</div>	
						<div class="col-lg-3 col-md-6 single-fact">
							<h1 class="counter">435</h1>
							<p>Real Professionals</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->				

{% include 'plan_kalonka.html' %}
{% include 'comentary.html' %}

{% endblock %}